<li {{bind-attr class='isSelected:active :header_row :full_row :row :listed_single_row'}} {{action 'selectLocationRow' this on='click'}}>
	<ul class='single_row grouped_row full_row'>
	  <li class='location_name data_point'>
	  	<span class="grid_label">Location Name: </span> 
	  	<span class="grid_value">{{ name }} - {{ location_number }}</span>
	  </li>
	  <li class='location_state data_point'>
	  	<span class="grid_label">State: </span> 
	  	<span class="grid_value">{{ locationState }}</span>
	  </li>
	</ul>
</li>
