<ul class="full_row">
	<li class='location_name data_point'>
      <span class="grid_label">Location Name: </span> 
      <span class="grid_value">{{ name }} - {{ location_number }}</span>
  </li>  
</ul>

<ul class="full_row">
	<li class='location_name data_point'>
      <span class="grid_label">Items Count: </span> 
      <span class="grid_value">{{ items_count }}</span>
  </li>
	<li class='location_name data_point'>
      <span class="grid_label">Service Record Count: </span> 
      <span class="grid_value">{{ service_records_count }}</span>
  </li>
	<li class='location_name data_point'>
      <span class="grid_label">Warranty Count: </span> 
      <span class="grid_value">{{ warranties_count }}</span>
  </li> 
</ul>