<li {{bind-attr class='isSelected:active :header_row :full_row :row :listed_single_row'}} {{action 'selectServiceRecordRow' this on='click'}}>
	<ul class='single_row grouped_row full_row'>
	  <li class='sr_order_number data_point'>
	  	<span class="grid_label">ON#: </span> 
	  	<span class="grid_value">{{ custom_order_number }}</span>
	  </li>
	  <li class='sr_po_number data_point'>
	  	<span class="grid_label">PO#: </span> 
	  	<span class="grid_value">{{ po_number }}</span>
	  </li>
	  <li class='sr_dos data_point'>
	  	<span class="grid_label">DOS: </span> 
	  	<span class="grid_value">{{ formattedDate }}</span>
	  </li>
	  <li class='sr_invoice_amount data_point'>
	  	<span class="grid_label">Invoice Amount: </span> 
	  	<span class="grid_value">{{ invoice_amount }}</span>
	  </li>
	</ul>
</li>