<li {{bind-attr class='isSelected:active :header_row :full_row :row :listed_single_row'}} {{action 'selectItemRow' this on='click'}}>
  <ul class='single_row grouped_row full_row'>
    <li class='location_name data_point'>
      <span class="grid_label">Item Name: </span> 
      <span class="grid_value">{{unbound name }} - {{unbound serial_number }}</span>
    </li>
    <li class='location_state data_point'>
      <span class="grid_label">Service Records: </span> 
      <span class="grid_value">{{ service_records_count }}</span>
    </li>
  </ul>
</li>