<div class="component component_right">
  <div class="component_header">
    <div class="component_wrap">
      <div class="component_header_left">
        <label class="component_title">Capitalization Details</label>
      </div>
    </div>
  </div>
  <div class="content_component_wrap component_wrap">
    <div class="component_content">
      <div class="form_component form_section section_left add_location_main">
        <div class="form_row">
          <div class="form-group">
            <label>Removal Date</label>
            {{ model.formattedRemovalDate }}
          </div>
          <div class="form-group">
            <label>Removal Vendor</label>
            {{ model.removal_vendor }}
          </div>
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Refridgerant Removal Quantity</label>
            {{ model.removalQuantity }}
          </div>
          <div class="form-group">
            <label>Estimated Weight</label>
            {{ model.estimated_weight }}
          </div>
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Scrap Value</label>
            {{currency model.scrap_value}}
          </div>
          <div class="form-group">
            <label>Lifetime Cost</label>
            {{currency model.lifetimeCost}}
          </div>          
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Capitalization Reason</label>
            {{ model.capitalization_reason}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>