<div class="component component_right">
  <div class="component_header">
    <div class="component_wrap">
      <div class="component_header_left">
        <label class="component_title">Warranty Information</label>
      </div>
    </div>
  </div>
  <div class="content_component_wrap component_wrap">
    <div class="component_content">
      <div class="form_component form_section section_left add_location_main">
        <div class="form_row">
          <div class="form-group">
            <label>Start Date</label>
            {{formattedStartDate}}
          </div>
          <div class="form-group">
            <label>End Date</label>
            {{formattedEndDate}}
          </div>
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Parts Expiration</label>
            {{formattedPartsExp}}
          </div>
          <div class="form-group">
            <label>Labor Expiration</label>
            {{formattedLaborExp}}
          </div>
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Warranty Provider</label>
            {{warranty_provider}}
          </div>
        </div>
        <div class="form_row">
          <div class="form-group">
            <label>Terms</label>
            {{terms}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>