<div id="top_section">
  <div class="component component_left">
    <div class="component_header">
      <div class="component_header_left">
        <label class="page_title">Item: {{name}}</label>
      </div>
      <div class="component_header_right">
      <ul class='toolbar'>
        <li>{{#link-to 'item_parts' class='icon icon-16 parts' title='View Parts'}}Parts{{/link-to}}</li>
        <li id='service_records'>{{#link-to 'item_service_records' class='icon icon-16 service_records' title='View Service Records'}}Service Records{{/link-to}}</li>
        <li>{{#link-to 'item_warranties' class='icon icon-16 warranties' title='View Warranties'}}Warranties{{/link-to}}</li>
        {{#if isCapitalized }}
          <li>{{#link-to 'item_service_records.capitalization_details' this class='icon icon-16 capitalize' title='Capitalization Details'}}Capitalization Details{{/link-to}}</li>
        {{else}}
          <li>{{#link-to 'item_service_records.capitalize_item' class='icon icon-16 capitalize' title='Capitalize Item'}}Capitalize Item{{/link-to}}</li>
        {{/if}}
      </ul>
      </div>
    </div>
    <div class="detail_content item_details">
      {{partial "items/item_details"}}
    </div>
  </div>
  <div class="component component_right">
    <div class="component_header">
      <div class="component_wrap">
        <div class="component_header_left">
          <label class="component_title">{{ location.locationName }} - {{ location.locationNumber }}</label>
        </div>
        <div class="component_header_right">
          <ul class='toolbar'>
            <li>{{#link-to 'location' location class='icon icon-16 locations' title='View Location'}}View Location{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="component_wrap">
      <div class="detail_content">
        {{#with location}}
          {{partial 'locations/location_sidebar_detail'}}
        {{/with}}
      </div>
    </div>
  </div>
</div>

<div id="bottom_section">
  {{outlet}}
</div>
