<!DOCTYPE html>
<html>
<head>
  <title>Mid School Math - Application</title>
  <%= stylesheet_link_tag "login/login_css_manifest", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr", "vendor/browser_select" %>
</head>
<body>

  <div class='container container-fluid'>
    <%# Flash Notice %>
    <%= render :partial => 'layouts/shared/flash', :locals => {:flash => flash} %>
    <div class="row">
      <div class="col-md-offset-7"><%= yield %></div>
    </div>
  </div>
	<%= javascript_include_tag "login/login_js_manifest" %>
</body>
</html>
