 <div id='login_panel' class='panel'>
    <header class='public_header'>Tracking Book Login</header>
    <section class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, 
        :url => session_path(resource_name), 
        :html => {:class => 'form-horizontal' }) do |f| %>

        <div class="form-group">
          <%= f.input :email, :autofocus => true, input_html: { class: 'form-control' }%>
        </div>
        <div class="form-group">
          <%= f.input :password, input_html: { class: 'form-control' }%>
        </div>
        <div class="form-group">
          <label><input type="checkbox"/>Remember me</label>
        </div>
        <div class="form-group last">
          <%= f.button :submit, "Sign in", :class => 'btn btn-default btn-wide' %>
        </div>

      <% end %>
    </section>
    <footer><%= render "devise/shared/links" %></footer>
</div>