<!DOCTYPE html>
<html>
<head>
  <title>Tracking Book - Application</title>
  <%= stylesheet_link_tag "internal/internal_css_manifest", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr", "vendor/browser_select" %>
</head>
<body>
	<div id="tracking-book">
		
	</div>
	<%# <% if Rails.env == 'development' %>
	<%# 	<%= javascript_include_tag "internal/internal_js_manifest" %>
	<%# <% else %>
	<%# 	<%= javascript_include_tag "internal/internal_js_manifest_production" %>
	<%# <% end %>

<%= javascript_include_tag "internal/internal_js_manifest" %>

</body>
</html>
