	<nav id="main_nav" class="full_section">
		{{#if model.isLoaded }}
			{{#if isStudent }}
				<ul class="full_section dark_silver_gradient">
					<!--<li title='Student Dashboard'>{{#link-to 'dashboard'}}Library{{/link-to}} </li>-->
					<li title='View Stories'>{{#link-to 'student_stories'}}Stories {{toggleArrow}}{{/link-to}} </li>

					<li title='View Completed Assignments'>{{#link-to 'portfolio'}}Portfolio {{toggleArrow}}{{/link-to}} </li>
          <!--<li title='Test Trainer'>{{#link-to 'trainer_grades'}}Test Trainer {{toggleArrow}}{{/link-to}} </li>-->
					<li class='right_side_nav'><a href="/student-logout" class="" title='Logout'>Logout</a></li>
				</ul>	
			{{ else }}
				<ul class="full_section dark_silver_gradient">
					<li title='View My Dashboard'>{{#link-to 'dashboard'}}Library {{toggleArrow}}{{/link-to}} </li>
					<li title='View My Classrooms'>{{#link-to 'classrooms'}}Classrooms {{toggleArrow}}{{/link-to}} </li>
					<li title='View My Stories'>{{#link-to 'stories'}}Story Project Tool {{toggleArrow}}{{/link-to}}</li>
					<li title='Assign and Review'>{{#link-to 'assignment_stories'}}Assign & Review {{toggleArrow}}{{/link-to}}</li>
					<li class='right_side_nav'><a href="/teacher-logout" class="" title='Logout'>Logout</a></li>
				</ul>	
			{{/if}}
		{{ else }}
			<ul class="full_section dark_silver_gradient">
				<li><a>Loading...</a></li>
			</ul>			
		{{/if}}
	</nav>
	<div id="j-main_content" {{bind-attr class='isTeacher:teacher:student :j-outerwrap'}}>
		{{ outlet }}
	</div>
